<div lang="en" th:replace="layout/header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"> </div>

<div class="container-fluid " >
    <div class="row">

        <!-- ASIDE - LEFT PANEL -->
        <div class="col-sm-12 col-md-3 col-lg-3 aside">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user/home" style="color:black">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Panel użytkownika</li>
                </ol>
            </nav>

            <div class="list-group-flush">
                <a href="/user/home" class="list-group-item list-group-item-action">Panel</a>
                <a href="/user/list_spendings" class="list-group-item list-group-item-action active">Historia wydatków</a>
                <a href="/user/list_users" class="list-group-item list-group-item-action">Dodaj wydatek</a>
                <a href="/user/list_debt" class="list-group-item list-group-item-action active">Rozlicz przyjaciół</a>
            </div>

            <div class="aside__currentUser">

                <p>Zalogowany jako:	<span th:utext="${userName}"></span></p>
                <form th:action="@{/logout}" method="get">
                                        <button class="btn btn-primary btn-block" name="registration" type="Submit">Wyloguj</button>
                </form>
            </div>

        </div><!--/ ASIDE - LEFT PANEL -->

        <!-- CONTENT - RIGHT PANEL -->
        <div class="col-sm-12 col-md-9 col-lg-9 content">
            <h1>Edytuj wydatek <img th:src="@{/images/piggy_icon.png}"> </h1>

            <form action="#" method="POST" th:action="@{/user/edit_item/}+@{service.id}" th:object="${item}">
                <input required type="hidden" th:field="*{id}">
                <input required type="hidden" th:field="*{i_user_1}">
                <input required type="hidden" th:field="*{i_user_2}">
                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Nazwa usługi</p>
                        <label th:if="${#fields.hasErrors('i_name')}" th:errors="*{i_name}"  class="validation-message"></label>
                        <input type="text" th:field="*{i_name}" placeholder="Nazwa"    class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p> Przyjaciel</p>
                        <input type="text" th:value="${friendson}" placeholder="Przyjaciel" class="form-control" readonly="true" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Data usługi</p>
                        <label th:if="${#fields.hasErrors('i_date')}" th:errors="*{i_date}"   class="validation-message"></label>
                        <input type="date" th:field="*{i_date}" placeholder="Data usługi" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Kwota</p>
                        <label	th:if="${#fields.hasErrors('i_price')}" th:errors="*{i_price}"  class="validation-message"></label>
                        <input type="text" th:field="*{i_price}"  placeholder="Kwota" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block"> Zapisz zmiany</button>
                    </div>
                </div>

            </form>
        </div><!--/ CONTENT - RIGHT PANEL -->

    </div>
</div>

<div lang="en" th:replace="layout/footer :: footer"> </div>

</body>
</html>