.admin-message-text {
	 font-style: normal;
	 font-size: 22px;
	 color: #ffc3ee;
 }

/* Home Sidebar */
.list-group-flush > .active {
	background: #E1E1E1 !important;
	color: #000;
	border-color: #C5C5C5;
}

.aside > .list-group-flush > .list-group-item-action.active:hover {
	color: #000;
	border-color:#C5C5C5;
	background: #E1E1E1 !important;
	transition: .5s;
}

/* UNTILS */

.min-width-130{
	min-width: 130px;
}


/* SEARCH */
.searchInput {
	background-image: url('https://www.w3schools.com/css/searchicon.png '); /* https://www.w3schools.com/css/searchicon.png */
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
	margin-top: 12px;
}
